
/* Toolbar area */

md-toolbar h3 {
  margin: auto;
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}


/* Sidenav area */

md-sidenav {
  fill: #737373;
}

md-list-item > button {
  width:100%;
  text-align:left !important;
  height:70px;;
}

md-icon.avatar {
  margin-right: 20px;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

button#main {
  margin-bottom: 10px;
}

md-sidenav > md-toolbar {
  height:64px;
}

md-list-item {
  overflow: hidden;
}

/* Primary content area */

.menu {
  padding: 5px 0px 0px 15px;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}


#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

h2 {
  font-weight: 400;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}


/* Utils */

/* Typography support coming in 0.8.0 */

.avatar {
  position:relative;
  width: 54px;
  height: 54px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;

}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
